body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #d9f1d9;
  background-image: url(5fba54ac1b589d43456a2b86dd7a1d9d.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.signup-container {
  background-color: #ffffff55;
  padding: 40px;
  border-radius: 3rem;
  box-shadow: 0 2px 10px rgba(32, 132, 21, 0.8);
  width: 300px;
}

.signup-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.signup-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.signup-container input,
.signup-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(234, 228, 220, 0.529);
}

.signup-container input[type="checkbox"] {
  margin-right: 10px;
}

.signup-container a {
  color: #32432b;
  text-decoration: none;
}

.signup-container a:hover {
  text-decoration: underline;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #0a4c08;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #09420a6f;
}
